/* content */

.about-content {
  display: flex;
  flex-direction: column;
  gap: 160px;
  padding: 176px 36px 200px;
}

.about-content__title {
  font-size: 56px;
  font-weight: 600;
}

.about-content__descr {
  width: 830px;
  max-width: 100%;
  margin-top: 48px;
  font-size: 48px;
}

.about-content__img {
  width: 100%;
  height: auto;
  display: block;
  margin-top: 96px;
}

/* about studio */

.about-studio__title {
  padding-bottom: 48px;
  font-weight: 600;
  font-size: 30px;
  border-bottom: 1px solid #e4e4e4;
}

.about-studio__info {
  display: flex;
  flex-direction: column;
  gap: 48px;
  width: 66.1%;
  margin-top: 36px;
  margin-left: auto;
}

.about-studio__info p {
  max-width: 530px;
}

.about-studio__info img {
  width: 100%;
  height: auto;
}

/* facts */

.about-facts__title {
  padding-bottom: 48px;
  font-weight: 600;
  font-size: 30px;
  border-bottom: 1px solid #e4e4e4;
}

.about-facts__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 72px 10px;
  width: 66.1%;
  margin-top: 36px;
  margin-left: auto;
}

.about-facts__item b {
  font-weight: 600;
  font-size: 62px;
}

.about-facts__item p {
  margin-top: 12px;
  font-weight: 500;
  font-size: 20px;
}

/* about partners */

.about-partners {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 8px;
}

.about-partners li {
  background-color: #f2f2f2;
}

.about-partners li:last-child {
  display: flex;
  align-items: center;
  grid-column: span 2 / span 2;
}

.about-partners li:last-child a {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100%;
  font-weight: 600;
}

.about-partners li:last-child a::after {
  width: 24px;
  height: 24px;
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4 12H20M20 12L14 6M20 12L14 18' stroke='%230D0D0D' stroke-width='2.4' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
  transition: transform 0.5s ease;
  content: "";
}

.about-partners li:last-child a:hover::after {
  transform: translateX(10px);
}

.about-partners img {
  display: block;
  width: 100%;
}

/* team */

.about-team__title {
  padding-bottom: 48px;
  font-weight: 600;
  font-size: 30px;
  border-bottom: 1px solid #e4e4e4;
}

.about-team__info {
  width: 66.1%;
  margin-left: auto;
}

.about-team__descr {
  max-width: 484px;
  margin-top: 36px;
}

.about-team__members {
  display: block;
  max-width: 711px;
  margin-top: 96px;
  font-weight: 600;
  font-size: 30px;
}

/* about projects */

.about-projects__title {
  padding-bottom: 48px;
  font-weight: 600;
  font-size: 30px;
  border-bottom: 1px solid #e4e4e4;
}

.about-projects__list {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 36px;
}

.about-projects__item {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  overflow: hidden;
}

.about-projects__item--small {
  width: 36.7%;
  aspect-ratio: 562/500;
}

.about-projects__item--big {
  width: 62.6%;
  aspect-ratio: 954/658;
}

.about-projects__item-info {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 24px;
  z-index: 1;
  transition: opacity 0.5s ease;
}

.about-projects__item-info::before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--info-color);
  content: '';
  z-index: -1;
}

.about-projects__item-info b {
  font-weight: 500;
  font-size: 36px;
}

.about-projects__item-info span {
  display: block;
  margin-top: 8px;
  opacity: 0.6;
}

.about-projects__item--big b,
.about-projects__item--big span {
 color: #FFFFFF;
}

.about-projects__item video,
.about-projects__item img {
  width: 100%;
  height: auto;
  transform: scale(1.2);
}

.about-projects__item:hover .about-projects__item-info {
  opacity: 0;
}

.about-projects__more {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 36px;
  font-weight: 600;
}

.about-projects__more::after {
  width: 24px;
  height: 24px;
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4 12H20M20 12L14 6M20 12L14 18' stroke='%230D0D0D' stroke-width='2.4' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
  content: '';
  transition: transform 0.5s ease;
}

.about-projects__more:hover::after {
  transform: translateX(10px);
}
