.slider-container {
  position: relative;
  overflow: hidden;
}

.slider-container__header {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
  display: flex;
  align-items: center;
  gap: 12px;
}

.slider-track {
  overflow: hidden;
}

.slider-slides {
  display: flex;
  transition: transform 0.3s ease;
}

.testimonial-card {
  flex: 0 0 100%;
}

.testimonial-card__text {
  max-width: 939px;
  font-size: 62px;
}

.testimonial-card__author {
  margin-top: 36px;
}

.testimonial-card__author strong {
  font-weight: 600;
}

.testimonial-card__author span {
  display: block;
  margin-top: 8px;
  font-size: 20px;
}

.slider-btn {
  width: 84px;
  height: 56px;
  font-size: 500;
  font-size: 29px;
  border-radius: 30px;
  color: #ffffff;
  background-color: #0D0D0D;
}

.slider-dots {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  margin-top: 1rem;
}

.dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #ccc;
  cursor: pointer;
}

.dot.active {
  background: #333;
}
